.boost__input {
  --input-border-radius: 0;
  --input-border-size: 0;
  --input-padding: 0;

  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  inline-size: min-content;
  max-inline-size: 3ch;
  min-inline-size: 1ch;

  @supports (field-sizing: content) {
    field-sizing: content;
    max-inline-size: unset;
  }
}
